<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.auroras.module.charge.saver">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <service
            android:name="com.auroras.module.charge.saver.aurorasprotectservice.ServiceBattery"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="com.auroras.module.charge.saver.receiver.BroadcastReceiverStart">
            <intent-filter android:priority="2147483647">

                <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听情景切换 -->
                <action android:name="android.media.RINGER_MODE_CHANGED" />
                <!-- USB -->
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.auroras.module.charge.saver.AurorasSetADActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.auroras.module.charge.saver.AurorasBatteryProtectActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="nosensor"
            android:theme="@style/CustomTranslate" />
    </application>

</manifest>