<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ivymobi.applock.free">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- <uses-permission android:name="ivy.permission.USAGE_ACCESS_SETTINGS" />
     <uses-permission android:name="ivy.permission.access_service" />-->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <supports-screens android:anyDensity="true" />

    <application
        android:name="com.vactorapps.manager.MyApp"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/ic_launcher"
        android:manageSpaceActivity="com.vactorapps.manager.FristActivity"
        android:persistent="true"
        android:theme="@style/activityTheme">

        <activity
            android:name="com.vactorapps.manager.MainActivityAppLock"
            android:allowTaskReparenting="false"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" />
        <activity
            android:name="com.vactorapps.manager.IntrudedeImageMaxActivity"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" />

        <service
            android:name="com.vactorapps.manager.VacAccessibilityService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/acc" />
        </service>
        <service
            android:name="com.vactorapps.manager.ApplockC"
            android:process=":remote" />

        <activity
            android:name="com.vactorapps.manager.VacTansparent"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CustomTranslucent" />
        <activity
            android:name="com.vactorapps.manager.SettingActivity"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" />
        <activity
            android:name="com.vactorapps.manager.VacPrevance"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" />
        <activity
            android:name="com.vactorapps.manager.PermissionActivity"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.vactorapps.manager.VacSetPattern"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.vactorapps.manager.VacIntruderActivity"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".theme"
            android:theme="@style/activityTheme" />
        <activity
            android:name="com.vactorapps.manager.FristActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|layoutDirection|screenSize|keyboard|keyboardHidden|fontScale"
            android:excludeFromRecents="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--文件2-->
        <activity
            android:name="com.vactorapps.manager.PretentTwoActivitySecurityPatternActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|layoutDirection|screenSize|keyboard|keyboardHidden|fontScale"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:icon="@drawable/fakes_files"
            android:label="@string/fakes_files"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/locktheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--邮箱3-->
        <activity
            android:name="com.vactorapps.manager.PretentThreeActivitySecurityPatternActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|layoutDirection|screenSize|keyboard|keyboardHidden|fontScale"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:icon="@drawable/fakes_email"
            android:label="@string/fakes_email"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/locktheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--日历1-->
        <activity
            android:name="com.vactorapps.manager.PretentOneActivitySecurityPatternActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|layoutDirection|screenSize|keyboard|keyboardHidden|fontScale"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:icon="@drawable/security_myfake_1"
            android:label="@string/security_pretent_calender"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/locktheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--相机4-->
        <activity
            android:name="com.vactorapps.manager.PretentFourActivitySecurityPatternActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|layoutDirection|screenSize|keyboard|keyboardHidden|fontScale"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:icon="@drawable/fakes_camera"
            android:label="@string/fakes_camera"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/locktheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--指南针5-->
        <activity
            android:name="com.vactorapps.manager.PretentFiveActivitySecurityPatternActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|layoutDirection|screenSize|keyboard|keyboardHidden|fontScale"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:icon="@drawable/fakes_compass"
            android:label="@string/fakes_compass"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/locktheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--音乐6-->
        <activity
            android:name="com.vactorapps.manager.PretentSixActivitySecurityPatternActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|layoutDirection|screenSize|keyboard|keyboardHidden|fontScale"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:icon="@drawable/fakes_music"
            android:label="@string/fakes_music"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/locktheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--计算器7-->
        <activity
            android:name="com.vactorapps.manager.PretentSevenActivitySecurityPatternActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|layoutDirection|screenSize|keyboard|keyboardHidden|fontScale"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:icon="@drawable/security_myfake_2"
            android:label="@string/security_pretent_icon_2"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/locktheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.vactorapps.manager.TogglePatternActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/locktheme" />
        <activity
            android:name="com.vactorapps.manager.UnlockActivitySecurityPatternActivity"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/locktheme">
            <intent-filter>
                <action android:name="android.intent.action.UNLOCK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vactorapps.manager.VacResetPattern"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=":remote"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name="com.vactorapps.manager.IntruderSetting"
            android:configChanges="orientation|layoutDirection|screenSize|keyboard|keyboardHidden|fontScale"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" />
        <activity
            android:name="com.vactorapps.manager.PretentSelectorActivitySecurity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" />
        <activity
            android:name="com.vactorapps.manager.FullScreenActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/nactivityTheme">
            <intent-filter>
                <action android:name="vactorapp.intent.action.full" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vactorapps.manager.UnlockApp"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|layoutDirection|screenSize|keyboard|keyboardHidden|fontScale"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" />
        <activity

            android:name="com.vactorapps.manager.page.MyChooseThemeActivity"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" />

        <service android:name="com.vactorapps.manager.WorksService" />
        <service android:name="com.vactorapps.manager.VacNotificationService" />
        <service android:name="com.vactorapps.manager.PreferenceService" />

        <receiver android:name="com.vactorapps.manager.WidgetReceiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="my.appwidget.action.wiget" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/security_widget" />
        </receiver>
        <receiver
            android:name="com.vactorapps.manager.VacBootReceiver"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>
</manifest>